
:root{
    --VeryDarkBlue: hsl(243, 87%, 12%);
    --DesaturatedBlue: hsl(238, 22%, 44%);
    --BrightBlue: hsl(224, 93%, 58%);
    --ModerateCyan: hsl(170, 45%, 43%);
    --LightGrayishBlue: hsl(240, 75%, 98%);
    --LightGray: hsl(0, 0%, 75%);
}
a{
    color: var(--VeryDarkBlue);
}




.bg-cover{
    background-image: url(./images/bg-curve-mobile.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media (min-width: 768px){
    .bg-cover{
        background-image: url(./images/bg-curve-desktop.svg);
    }
}